html, body {
  margin: 0;
  padding: 0;
}
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  font: normal 13px/1.25 "lucida grande",tahoma,verdana,arial,sans-serif;
  color: #333;
  -webkit-text-size-adjust: none;
  direction: ltr;
  background-color:#F8F8F8;
}
ol, ul {
  list-style: none;
}
.quote{
  font: 18px/1 Georgia, arial, sans-serif;
}
a{
  text-decoration:none;
  color:#0059A0;
}
#mainWraper{
  width:980px;
  margin: 0 auto;
  position: relative;
}
.header{
  text-align:center;
  padding-top:20px;
}
#content{
  width:930px;
  margin:40px auto 140px;
  border:1px solid #BABAC2;
  padding:20px;
  background-color:#FFF;
  -moz-box-shadow: 0 0px 5px rgba(100,100,100, 0.3);
  -webkit-box-shadow: 0 0px 5px rgba(100,100,100, 0.3);
  box-shadow: 0 0px 5px rgba(100,100,100, 0.3);
  font-family:'Droid Sans',"lucida grande",tahoma,verdana,arial,sans-serif;
}
#content .contentHeader{
  margin-bottom:20px;
}
.footer{
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  left:0;
  right:0;
  border-top: 1px solid #B6C4D8;
  -moz-box-shadow:  0 0px 10px rgba(0, 0, 0, 0.4); 
  -webkit-box-shadow:  0 0px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}
.footerInner{
  height:80px;
  background-color:#FFF;
}
.bubble{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding:10px;
  border:1px solid #CCC;
  position: relative;
}
.pointWrap{
  height: 14px;
  width:7px;
  position: absolute;
  z-index: 1;
}
.pointWrap.left{
  left:-8px;
  top:10px;
}
.pointWrap.right{
  right:-8px;
  top:10px;
}
.pointWrap.bottom{
  left:10px;
  bottom:-8px;
  height: 7px;
  width:14px;
}
.contentHeader .pointWrap.bottom{
  left:550px;
}
.pointWrap .pointOuter{
  position: absolute;
  z-index: 1; 
}
.pointWrap.left .pointOuter{
  border-color: transparent #CFCFCF transparent transparent;
  border-style: solid solid solid none;
  border-width: 7px 7px 7px 0;
  left: 0;
  top:0;
}
.pointWrap.right .pointOuter{
  border-color: transparent transparent transparent #CFCFCF;
  border-style: solid none solid solid ;
  border-width: 7px 0 7px 7px;
  left: 0;
  top:0;
}
.pointWrap.bottom .pointOuter{
  border-color: #CFCFCF transparent transparent;
  border-style: solid solid none;
  border-width: 7px 7px 0;
  left: 0;
  bottom:0;
}
.pointWrap .pointInner{
  z-index: 1;
  position: absolute;
}
.pointWrap.left .pointInner{
  border-color: transparent #FFFFFF transparent transparent;
  border-style: solid solid solid none;
  border-width: 6px 6px 6px 0;
  left: 2px;
  top:-6px;
}
.pointWrap.right .pointInner{
  border-color: transparent transparent transparent #FFFFFF;
  border-style: solid none solid solid;
  border-width: 6px 0 6px 6px;
  left:-8px;
  top:-6px;
}
.pointWrap.bottom .pointInner{
  border-color: #FFFFFF transparent transparent;
  border-style: solid solid none;
  border-width: 6px 6px 0;
  left:-6px;
  bottom:2px;
}
.tag{
  display:inline-block;
  margin:3px 1px;
  padding:1px 3px;
  background-color:#F8F8F8;
  border:1px solid #DEDEDE;
  font-weight:bold;
  color:#666;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
h1.title{
  font: normal 62px/1.5 'Righteous',sans-serif;
  color:#444;
  text-shadow: 1px 3px 0 #FFF;
}
div.aboutMe .myPicWrap{
  float:left;
  width:300px;
  padding:4px 4px 6px;
  border:1px solid #B6C4D8;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
div.aboutMe .about{
  margin:0 0 20px 330px;
  font-size:18px;
  line-height:150%;
}
div.aboutMe .about dl{
  margin:5px 0;
}
div.aboutMe .about dd{
  padding-left:10px;
  color:#666;
  font-size:16px;
}
ul.disc >li{
  list-style: disc outside;
}
li.usedSkill{
  padding:5px 0 0 20px;
}
#timeLine{
  overflow:hidden;
  background:transparent url('/img/stem.png') repeat-y scroll 554px 0;
  padding:15px 0;
}
#timeLine .timeDescribes{
  float:left;
  width:566px;
}
#timeLine .portfolios{
  margin-left:576px;
}  
#timeLine .timeDescribes .timeDescribe,
#timeLine .portfolios .portfolio{
  overflow:hidden;
  margin-bottom:20px;
}
#timeLine .timeDescribes .describe{
  float:left;
  width:518px;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
#timeLine .timeDescribes .describe header,
#timeLine .portfolios .describe header{
  padding:0 5px 5px;
  border-bottom:1px solid #B8B8B8;
  margin-bottom:10px;
}  
#timeLine .timeDescribes .timePoint{
  margin-left:550px;
  padding-top:10px;
}
#timeLine .portfolios .describe{
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
#timeLine .timePoint img{
  background:transparent url('/img/points.png') no-repeat scroll 0 0;
}
#timeLine .timePoint img.bron{
  background-position:0 0;
}
#timeLine .timePoint img.education{
  background-position:0 -70px;
}
#timeLine .timePoint img.experience{
  background-position:0 -35px;
}
.gMapsCanvas{
  height:250px;
  width:100%;
}
